<div class='container'>
  <div id='player'>
    <div id='current-title'>
      {{title}}
    </div>
    <audio id="audio" preload="auto" tabindex="0" controls="" >
      <source id="audio-source" src={{url}}>
        Your Fallback goes here
    </audio>
  </div>
</div>

