<form class="ui form" {{action 'createNewEpisode' on='submit'}}>
  <div class="field">
    <label>Title</label>
		 {{input id='title' value=title type="text" placeholder="..how will it continue?"}}
  </div>
  <div class="field">
    <label>Url</label>
		 {{input id='url' value=url type="text" placeholder="http://....mp3"}}
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>

{{yield}}
