<div class="ui three item menu">
  <a class="active item" href="/">Interactive Podcast</a>
</div>
<div class="ui main text container">
  <div class="ui segment">
    <div class="row">
      <div class="column sixteen wide">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
